.banner-title {
    font-weight: 700;
    font-size: 65px;
    font-family: 'Work Sans';
    text-align: right;
    margin: 0 150px;
    padding-top: 216px;
    padding-bottom: 20px;
}

.banner-des {
    color: #444343;
    font-size: 16px;
    text-align: right;
    margin: 0 150px;
    padding-bottom: 32px;
}

.header {
    background-image: url(/images/banner/banner2.png);
    width: 1450px;
    height: 700px;
}

.btn-primary {
    position: absolute;
    width: 140px;
    height: 60px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    margin-left: 80%;
}

/* header work finish */

.section {
    display: flex;


}

.section-container {
    font-family: 'Work Sans';
    padding-left: 150px;

}

.section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    padding-top: 369px;
    padding-bottom: 10px;


}

.section-des {
    font-weight: 400;
    font-size: 16px;


}

.section-sub-title {
    width: 349px;
    height: 162px;

}

.section-img {
    width: 569px;
    height: 723.3px;
    padding-left: 150px;
    padding-top: 135px;
}

/* 2nd section work finish */

.my-plans-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 150px;
    font-weight: 700;
    font-size: 40px;

}

.skills-container {
    display: flex;
    gap: 30px;
    margin-left: 200px;

}

.skill {
    padding: 50px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;

}

.skil-des {
    color: #737272;
    text-align: center;
}


/* contact style */

.contact .contact-title {
    text-align: left;
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;


}

.contact {
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 100px 200px;

}
a{
    text-decoration: none;
}

.contcact-dse {
    color: #FFFFFF;
    font-size: 16px;
}

.Ancor{
    padding-right: 20px;
}



.btn-white {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px 10px;
    color: #F15B22;
    width: 150px;
height: 50px;
}

input{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    height: 30px;
    background: #151414;
    border: 1px solid #FFFFFF;
    color:#FFFFFF;
    
}